header{
    background-color: pink;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

header h1 {
    background-color: red;
    width: 20%;
}

header div {
    background-color: blue;
    width: 50%;
}

header nav  {
    background-color: purple;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display:flex;
    justify-content: space-evenly;
    align-items: center; */
}

img {
    width:100%;
    height:100%;
}

main {
    background-color: gray;
}

@media screen and (max-width:600px) {
    header{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    header h1{
        width:60%;
        
    }
    header nav {
        width: 90%;
    }


}