/* Default width of 100% for all elements */
/* Avoid horizontal margin and specified heights */
header {
    background-color: rgb(134, 181, 228);
    /* padding: 10px; */
    min-height: 80%;
    height: 100px;
    /* by default, flex direction is a row and the children no longer have width of 100%, but they do have a height of 100%; */
    /* Whatever direction we go in flex, the main axis is justify-content; the cross axis is align-items */
    display:flex;
    justify-content: flex-start;
/* adding justify content or align items will remove the default 100% behavior */
    align-items: center;
}

h1 {
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    padding: 1%;
    display:flex;
    justify-content: flex-start;
}
nav {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

ul {
   list-style-type: none; 
}
li {
    display: inline-block;
    margin: 5px;
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    margin-top: 10px;
    margin-left: 10px;
}

.about-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:right;
    width: 70%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 170px;
    margin-right: 0px;
    line-height: 2;
    background-color: aquamarine;
}

@media screen and (max-width: 600px) {
    header{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    nav{
        width: 80%;
    }
}

div {
    background-color: blue;
}