/* Default width of 100% for all elements */
/* Avoid horizontal margin and specified heights */
header {
    background-color: rgb(134, 181, 228);
    /* padding: 10px; */
    min-height: 40%;
    /* by default, flex direction is a row and the children no longer have width of 100%, but they do have a height of 100%; */
    /* Whatever direction we go in flex, the main axis is justify-content; the cross axis is align-items */
    display:flex;
    justify-content: flex-end;
/* adding justify content or align items will remove the default 100% behavior */
    align-items: center;
}


nav {
    background-color: rgb(40, 124, 170);
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5%;
}

ul {
   list-style-type: none; 
}
li {
    display: inline-block;
    margin: 5px;
    font-size: 13px;
}

@media screen and (max-width: 600px) {
    header{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    nav{
        width: 80%;
    }
}

div {
    background-color: blue;
}